<!-- Simple light footer -->
<footer class="huro-footer">
    <div class="container">
        <div class="columns footer-body">
            <!-- Column -->
            <div class="column is-4">
                <div>
                    <span class="moto">Designed and coded with <i class="fa fa-heart text-danger p-l-5 p-r-5"></i> by Absumption with help from CSS
                        Ninja.</span>
                    <div class="social-links p-t-10 p-b-10">
                        <a href="#">
                            <span class="icon"><i class="fab fa-facebook"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fab fa-twitter"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fab fa-linkedin"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fab fa-dribbble"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i class="fab fa-github"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="column is-6 is-offset-2">
                <div class="columns is-flex-tablet-p">
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Huro
                            </li>
                            <li class="column-item"><a href="#">Home</a></li>
                            <li class="column-item"><a href="#">Pricing</a></li>
                            <li class="column-item"><a href="#">Get started</a></li>
                            <li class="column-item"><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Resources
                            </li>
                            <li class="column-item"><a href="#">Learning</a></li>
                            <li class="column-item"><a href="#">Support center</a></li>
                            <li class="column-item"><a href="#">Frequent questions</a></li>
                            <li class="column-item"><a href="#">Schedule a demo</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Terms
                            </li>
                            <li class="column-item"><a href="#">Terms of Service</a></li>
                            <li class="column-item"><a href="#">Privacy policy</a></li>
                            <li class="column-item"><a href="#">SaaS services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright has-text-centered">
            <p>This website is open-source and is based off the Huro UI Kit by CSS Ninja</p>
        </div>
    </div>
</footer>
<!-- /Simple light footer -->
