<nav class="navbar is-fixed-top is-transparent is-docked" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <div class="brand-icon">
                <img class="light-image-l" src="assets/img/logos/logo/logo.svg" alt="" />
                <img class="dark-image-l" src="assets/img/logos/logo/logo.svg" alt="" />
            </div>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <a target="_blank" class="nav-link is-scroll-to-top">Welcome</a>
            </div>

            <div class="navbar-item">
                <a href="#huro-demos-list" class="nav-link is-scroll">Products</a>
            </div>

            <div class="navbar-item">
                <a href="#huro-demo-elements" class="nav-link is-scroll">About Us</a>
            </div>

            <div class="navbar-item">
                <a class="nav-link">Our Team</a>
            </div>

            <div class="navbar-item">
                <a class="nav-link">Contact Us</a>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item is-theme-toggle">
                <label class="theme-toggle">
                    <input id="navbar-night-toggle--daynight" type="checkbox">
                    <span class="toggler">
                        <span class="dark">
                            <i data-feather="moon"></i>
                        </span>
                        <span class="light">
                            <i data-feather="sun"></i>
                        </span>
                    </span>
                </label>
            </div>
            <div class="navbar-item">
                <a href="/auth-login-1.html" class="button h-button is-rounded is-primary">
                    <strong>Login</strong>
                </a>
            </div>
        </div>
    </div>
</nav>
