<code class="lang-css">.code-container {
  /* Core Modifiers. */
  display: block !important;
  width: 50%;
  height: 400px;

  /* Position Modifiers */
  margin: auto;
  justify-content: center;
  align-items: center;

  /* Background Modifiers */
  background-color: $landing-dark-2 !important;
  box-shadow: $light-box-shadow;

  /* Overflow Modifiers*/
  overflow-x: auto;
  overflow-y: auto;

  /* Border Modifiers */
  border-radius: 8px;
  border-style: solid;
  border-color: $landing-dark-2;

  /* Constraints */
  max-width: 700px;
  max-height: 300px;

  /* Inherited Classes */
  .code-header {
    /* Core Modifiers */
    display: block;
    width: 100%;
    height: 10px;

    /* Position Modifiers */
    position: sticky;

    /* Text Modifiers */
    color: $fade-grey;
  }

  > pre {
    > code {
    /* Core Modifiers */
    background-color: $landing-dark-2;

    /* Text Modifiers */
    text-align: left;
    text-shadow: $light-box-shadow;
    }
  }
}
</code>
