<div class="huro-demos">

    <!--ADMIN-->
    <div class="demo-section">
        <div class="demo-section-title">
            <img class="light-image-block-l" src="assets/img/icons/components/layout-1.svg" alt="">
            <img class="dark-image-block-l" src="assets/img/icons/components/layout-1-dark.svg" alt="">
            <div class="title-meta">
                <h3>Sidebar Layout</h3>
                <p>With a side navigation</p>
            </div>
        </div>

        <div class="columns is-multiline">

            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <span class="new-tag">New</span>
                    <img class="light-image-block-l" data-src="assets/img/photo/screenshots/admin-dashboards-business-3.png" alt="" data-lazy-load />
                    <img class="dark-image-block-l" data-src="assets/img/photo/screenshots/admin-dashboards-business-3-dark.png" alt="" data-lazy-load />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                <span>Dashboards</span>
                                <span>Business 3</span>
                            </div>
                            <div class="demo-link">
                                <a href="/admin-dashboards-business-3.html" target="_blank">Go to
                                    demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

        </div>
    </div>
</div>
