<!-- Simple light footer -->
<footer class="huro-footer">
    <div class="container">
        <div class="columns footer-body">
            <!-- Column -->
            <div class="column is-4">
                <div>
                    <span class="moto">Designed and coded with <i class="fa fa-heart text-danger p-l-5 p-r-5"></i> by Absumption with help from CSS
                        Ninja.</span>
                    <div class="social-links p-t-10 p-b-10">
                        <a href="https://www.roblox.com/users/41312758/profile">
                            <span class="icon"><i class="fas fa-user-circle"></i></span>
                        </a>
                        <a href="https://twitter.com/absumption_cc">
                            <span class="icon"><i class="fab fa-twitter"></i></span>
                        </a>
                        <a href="https://github.com/absumption-cant-code">
                            <span class="icon"><i class="fab fa-github"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright has-text-centered">
            <p>This website is open-source and is based off the Huro UI Kit by CSS Ninja</p>
        </div>
    </div>
</footer>
<!-- /Simple light footer -->
