<!--Elements-->
<div id="demo-elements" class="tab-content has-text-left is-active">
    <div class="columns is-multiline">
        <div class="column is-5">
            <a href="/elements-colors.html" target="_blank" class="component-box">
                <div class="component">
                    <img class="light-image-l" src="assets/img/icons/components/colors.svg"alt=""  data-lazy-load>
                    <img class="dark-image-l" src="assets/img/icons/components/colors-dark.svg"alt=""  data-lazy-load>
                </div>

                <div class="component-title">Template</div>
                <div class="content">
                  <div class="is-divider"></div>
                  <p>This group was fantastic to work with, I worked with them from 2017 to 2020...</p>

                  <div class="tags">
                    <span class="tag">450,000 Members</span>
                    <span class="tag is-red">Resigned</span>
                  </div>
                </div>
            </a>
        </div>


    </div>

</div>

<!--Components-->
<div id="demo-components" class="tab-content has-text-left">
  <div class="columns is-multiline">

  </div>
</div>

<!--Forms-->
<div id="demo-forms" class="tab-content has-text-left">
    <div class="columns is-multiline">

    </div>
</div>
